<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1 class="enhanced-heading">JUSTDIAL PORTAL SIGN UP</h1>
                  <h5 class="enhanced-subheading">New User Can Sign Up here!</h5>
              </div>
              <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                  <div class="mb-3">
                      <label class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input formControlName="name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Phone Number</label>
                      <input formControlName="mobile" type="number" class="form-control" id="exampleInputPhone1" placeholder="Phone Number">
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary enhanced-btn">Sign Up</button>
              </form>
              <a style="color: rgb(17, 39, 146); margin-top: 10px;" routerLink="/login">Already a user? Click to Login</a>
          </div>
      </div>
  </div>
</div>
